[submodule "master_the_tension_transition_plan"]
	path = master_the_tension_transition_plan
	url = git@github.com:KejiaChen/master_the_tension_transition_plan.git
[submodule "master_the_tension_mios"]
	path = master_the_tension_mios
	url = git@github.com:KejiaChen/master_the_tension_mios.git
	branch = master_the_tension
